#{extends 'template/template.html' /}

<div id="member">
	<section class="member-header">
		<h1>Agenda</h1>
	</section>
	<section class="member">
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=d1bd9o7qfq1r8e5kh1bomcu4oo%40group.calendar.google.com&amp;color=%23113F47&amp;ctz=Europe%2FParis" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>			<img src="/public/images/background/footer-section.png">
	</section>
</div>