#{extends 'template/template.html' /}

<div class="menu">
	<ul id="ul-menu">
		<li><a href="#" class="selected" id="button-menu">Acceuil</a></li>
		<li><a href="#" id="button-menu">Tuto</a></li>
		<li><a href="#" id="button-menu">Vidéo</a></li>
		<li><a href="/blog" id="button-menu">Blog</a></li>
		<li><a href="#" id="button-menu">Téléchargement</a></li>
		<li><a href="/projets" id="button-menu">Projet</a></li>
	</ul>
</div>

<div class="content">
	<div class="hero-unit">
          <h1>Bienvenue sur les laboratoires Java !</h1>
          <p>
			  Connectez vous directement avec compte SUPINFO et candidatez pour le campus de
          </p>
    </div>
    <div class="row">
    	<div class="span6 offset1">
    		<div class="page-header">
    			<h1>Nos projets<small> 2011 - 2012 </small></h1>		
    		</div>
    		<p>Pour la rentrée le laboratoire java vous propose déjà quelque projets, qui conviendront à tous les niveaux.</p>
    		<p>
    		Parmi ces projets il y'a pour commencer <a href="https://ssl0.ovh.net/fr/">Goodquestion</a>, l'idée est très simple, une personne pose une question avec trois réponses possible pour la soumettre au vote des internautes. Ensuite lorsque l'internaute répond à la question, goodquestion return le pourcentage de réponse au choix proposé.
    		<ol>
    		</ol></p>
    		<p>Pour les fan de probabilités, le laboratoire java vous propose de développer une application Android, nom de code <a href="">PP</a>.
    		</p>
    	</div>
    	<div class="span6 offset1">
    		<div class="page-header">
    			<h1>Calendrier<small> Janvier 2012 </small></h1>		
    		</div>
    		<table class="bordered-table zebra-striped">
			<thead>
			<th>nom</th>
			<th>lieu</th>
			<th>date</th>
			</thead>
			<tbody>
			<tr>
				<td>Présentation des projets</td>
				<td>SUPINFO Paris</td>
				<td>02/01/2012</td>
			</tr>
			<tr>
				<td>Réunion de groupe</td>
				<td><a href="http://www.cafe-oz.com/bar-paris_1-2.html">Café Oz</a></td>
				<td>06/01/2012</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align:center"> Bientôt plus </td>
			</tr>
			</tbody>
			</table>
    	</div>
    	<div class="span4 offset1">
    		<div class="page-header">
    			<h1>Sondages<small></small></h1>		
    		</div>
    		<p> Quel tutorial désirez-vous le plus?</p>
    		<div class="clearfix">
    			<form method="post">
    				<div class="input"  style="margin-left:0;">
    					<ul class="inputs-list">
    						<li>
    							<label><input type="checkbox" name="vote" id="vote" /> <label for="vote">La persistence aver Play</label></label>
    						</li>
    						<li>
    							<label><input type="checkbox" name="vote2" id="vote2" /> <label for="vote2">Initiation à Android</label></label>
    						</li>
    						<li>
    							<label><input type="checkbox" name="vote3" id="vote3" /> <label for="vote3">Voir Lukas nue</label></label>
    						</li>
    					</ul>
    				</div>
    				<input type="submit" class="btn primary" value="envoyer" />
    			</form>
    		</div>
    	</div>
    <!-- </div>
  	<div class="row"> -->
		<div class="span6 offset1">
			<div class="page-header">
				<h1>github<small> nos ressources</small></h1>
			</div>
			<pre class="prettyprint">
				<ol>
					<li>&lt;div class="row"&gt;</li>
			 <li> &lt;div class="span6"&gt;</li>
			   <li> ...</li>
			 <li> &lt;/div&gt;</li>
			 <li> &lt;div class="span10"&gt;</li>
			  <li>  ...</li>
			 <li> &lt;/div&gt;</li>
		<li>	&lt;/div&gt;</li>
			</ol>
			</pre>
		</div>
	</div>
</div>