	#{extends 'template/template.html' /}

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/public/javascripts/slides.js"></script>
<script>
    $(function(){
        // Set starting slide to 1
        var startSlide = 1;
        // Get slide number if it exists
        if (window.location.hash) {
            startSlide = window.location.hash.replace('#','');
        }
        // Initialize Slides
        $('#slides').slides({
            preload: true,
            generatePagination: false,
            play: 0,
            pause: 0,
            hoverPause: false,
            // Get the starting slide
            start: startSlide,
            animationComplete: function(current){
               // Set the slide number as a hash
                window.location.hash = '#' + current;
            }
        });
    });
</script>


<!-- /Scripts -->


<article id="product">

        <div id="slides">
            <a href="#" class="prev">
                <img src="/public/images/home/arrowLeft.png" width="30" name="arrowLeft" onmouseover="arrowLeft.src='/public/images/home/arrowLeftHover.png'" onmouseout="arrowLeft.src='/public/images/home/arrowLeft.png'"  alt="Arrow Prev">
            </a>

            <div class="slides_container">
                
                <div class="slide">
                    <div class="product-image">
                        <img src="/public/images/home/s2.png" />
                    </div>
                    <div class="product-text">
                        <h1>Nouveau Galaxy S2</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                
                <div class="slide">
                	<center>
                    <div class="product-text">
                        <h1>Signature du partenariat avec 4D</h1>
                        <p>La société 4D, éditeur de la nouvelle plateforme de développement web et mobile Wakanda, et l'école SUPINFO annoncent un partenariat dont l'objectif est une collaboration à long terme grâce à l'implication pédagogique de l'éditeur au sein de l'école.</p>
                   		<p><iframe width="560" height="315" src="http://www.youtube.com/embed/0OtBUfCNyN8" frameborder="0" allowfullscreen></iframe></p>
                    </div>
                    </center>
                </div>
            </div>
                                
            <a href="#" class="next"><img src="/public/images/home/arrowRight.png" width="30" name="arrowRight" onmouseover="arrowRight.src='/public/images/home/arrowRightHover.png'" onmouseout="arrowRight.src='/public/images/home/arrowRight.png'" alt="Arrow Next"></a>
        </div>

   </article>
   
<div id="content">
    
    <article class="dashboard"> 
        <div class="dashboard-question">
            <h1>Qui sommes nous ?</h1>
            <p>Nous sommes un groupe de bénévole, étudiant à la même école, Supinfo. Notre attirance pour le développement et plus spécialement pour le java nous permet de nous reunir et de travailler sur des projets commun ainsi que de nous entraider.</p>
        </div>
        <div class="dashboard-contact">
            <h1>Contact</h1>
            <p>Le laboratoire java est votre interlocuteur privilégié pour rentrer directement en contact avec des étudiants de SUPINFO spécialisés dans les technologies Java (JSE, JEE, Android).
            <br /><br />
            N'hésitez pas à nous contacter pour toute question relatives aux stages, recrutement, événements, projets et conseil à l'adresse suivant support@laboratoires-java.com</p>
        </div>
    </article>
    

    
    <article id="features">
            <div class="features-group">
                <div class="feature-image">
                    <img src="/public/images/icon/Web.png" >
                </div>
                <div class="feature-text">
                    <h3>Web -</h3>
                    <p>Cette année nous avons la chance d'avoir un laboratoires actif dans lequel beaucoup de membres participe.<br>
                    <br>
                    Trois thèmes de projets ce démarque, ce si sont: <a>Android</a>, <a>Web</a> et <a>Novice</a>.</p>
                </div>
            </div>
            
            <div class="features-group">
                <div class="feature-image">
                    <img src="/public/images/icon/Mobile.png" >
                </div>
                <div class="feature-text">
                    <h3>Mobile -</h3>
                    <p>Cette année nous avons la chance d'avoir un laboratoires actif dans lequel beaucoup de membres participe.<br>
                    <br>
                    Trois thèmes de projets ce démarque, ce si sont: <a>Android</a>, <a>Web</a> et <a>Novice</a>.</p>
                </div>
            </div>
            <div class="features-group">
                <div class="feature-image">
                    <img src="/public/images/icon/Evenment.png" >
                </div>
                <div class="feature-text">
                    <h3>Evenements -</h3>
                    <p>Les évènement auquel nous seront présent seront présenté <a>ici</a>.<br>
                    <br>
                    Les dates sont suceptibles d'être mise à jours régulierement, n'hésité pas à revenir pour être au courant des derniers évènements organisé.</p>
                </div>
            </div>
            <div class="features-group">
                <div class="feature-image">
                    <img src="/public/images/icon/Ressource.png" >
                </div>
                <div class="feature-text">
                    <h3>Ressources -</h3>
                    <p>Retrouvez en un instant nos projets open source en téléchargement sur notre dépot github.<br>
                    <br>Tous ne sont pas accessible au grand public il faut faire partie des membres pour certain.</p>
                </div>
            </div>
            <div class="features-group">
                <div class="feature-image">
                    <img src="/public/images/icon/earth.png" >
                </div>
                <div class="feature-text">
                    <h3>Réseau Supinfo -</h3>
                    <p>Retrouvez en un instant nos projets open source en téléchargement sur notre dépot github.<br>
                    <br>Tous ne sont pas accessible au grand public il faut faire partie des membres pour certain.</p>
                </div>
            </div>
            <div class="features-group">
                <div class="feature-image">
                    <img src="/public/images/icon/User.png" >
                </div>
                <div class="feature-text">
                    <h3>Partenaires -</h3>
                    <p>Vous êtes une entreprise, une association, un laboratoire ou un passionné de Java ? N’hésitez pas à entrer en contact avec le laboratoire de SUPINFO Paris.<br>
                    <br><center><p>Contacter le laboratoire</p></center><br>
                    <p>Nous remercions les entreprises et associations qui nous ont déjà accordées leur confiance.</p>
                </div>
            </div>
    </article>
</div>