#{extends 'template/template.html' /}
<div class="home">
    <div class="wrapper">
        <div class="menu">
        	<ul id="ul-menu">
        		<li><a href="#" class="selected" id="button-menu">Acceuil</a></li>
        		<li><a href="#" id="button-menu">Tuto</a></li>
        		<li><a href="#" id="button-menu">Vidéo</a></li>
        		<li><a href="/blog" id="button-menu">Blog</a></li>
        		<li><a href="#" id="button-menu">Téléchargement</a></li>
        		<li><a href="/projets" id="button-menu">Projet</a></li>
        	</ul>
        </div>

        <div class="content">
        	<div class="hero-unit">
                <div class="row">
                    <div class="span8">
                        <h1>Qui sommes nous?</h1>
                        <p><a href="#">Laboratoires-java.com</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    
                    <div class="span6 offset1">
                        <h1>Contact</h1>
                        <p>Le laboratoire java est votre interlocuteur privilégié pour rentrer directement en contact avec des étudiants de SUPINFO spécialisés dans les technologies Java (JSE, JEE, Android).
                        <br /><br />
                        N'hésitez pas à nous contacter pour toute question relatives aux stages, recrutement, événements, projets et conseil.</p>


                        <p><a class="btn primary">Envoyer un message</a></p>
                    </div>
                </div>

            </div>
            
            <div class="row">
                <div class="span4">
                    <h3 class="projets">Projets</h3>
                    <p>Cette année nous avons la chance d'avoir un laboratoires actif sur lequel beaucoup de membres participe.<br>
                    <br>
                    Trois thèmes de projets ce démarque, ce si sont: <a>Android</a>, <a>Web</a> et <a>Novice</a>.</p>
                </div>
                <div class="span4">
                    <h3 class="evenements">Evenements</h3>
                    <p>Les évènement auquel nous seront présent seront présenté <a>ici</a>.<br>
                    <br>
                    Les dates sont suceptibles d'être mise à jours régulierement, n'hésité pas à revenir pour être au courant des derniers évènements organisé.</p>
                </div>
                <div class="span4">
                    <h3 class="sources">Sources</h3>
                    <p>Retrouvez en un instant nos projets open source en téléchargement sur notre dépot github.<br>
                    <br>Tous ne sont pas accessible au grand public il faut faire partie des membres pour certain.</p>
                </div>
                <div class="span4">
                    <h3 class="membres">Membres</h3>
                    <p>Nos membres sont exclusivement composé d'étudiants de l'école SUPINFO University.<br>
                    <br>
                    Si vous êtes étudiants à SUPINFO alors connectez-vous vite!</p>
                    <div style="float:right;">
                        #{if !auth.isLogged()}
                        #{a @Users.login(), class:'btn primary'}Connexion#{/a}
                        #{/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>