<!DOCTYPE html>
<html class="blacknoise">
<head>
	<title>&{'application.name'} - ${page_title}</title>

	<meta charset="${_response_encoding}">

	#{stylesheet 'prettify.css'/}
	#{script 'less/prettify.js'/}

	<link rel="stylesheet/less" href="/public/stylesheets/bootstrap.less"/>
	<link rel="stylesheet/less" href="/public/stylesheets/main.less"/>

	#{script 'less/less.js'/}
	
	
	#{stylesheet 'jqueryui/ui-lightness/jquery-ui-1.8.18.custom.css'/}

	#{get 'moreStyles' /}

	#{script 'jquery-1.7.1.min.js'/}
	#{script 'jquery-ui-1.8.18.custom.min.js'/}

	#{script '/template/user_candidature_inprogress.js'/}
	#{script 'showHide.js'/}
	#{get 'moreScripts' /}

	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

</head>
<body id="login">


#{if auth.isLogged()}
	
#{/if}
	


	#{doLayout /}


<!-- jquery dialogs -->
#{if auth.isLogged() && !currentUser.firstLogin}
<div id="user_candidature_inprogress_dialog" title="Candidature en cours">

	<p>
		Votre candidature est en cours sur le campus de ${currentUser.campus.name.label}.
		Pour toute question ou problème (changement de campus, annulation de candidature) veuillez nous contacter sur l'adresse
		support AT laboratoires-java.com.
	</p>
</div>
#{/if}

</body>
</html>