<!DOCTYPE html>

<html>
<head>
	<title>&{'application.name'} - ${page_title}</title>

	<meta charset="${_response_encoding}">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="/public/stylesheets/design.less" type="text/less" media="screen" />
	#{stylesheet 'special.css'/}
	

	<!-- Scripts -->
	#{script 'less/less.js'/}
	<!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


	#{get 'moreStyles' /}

	#{script '/template/user_candidature_inprogress.js'/}

	#{get 'moreScripts' /}

	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

</head>
<body>
	<div id="login">
		#{if auth.isLogged()}
			<div class="parameter">
						<p>

							#{a @Users.profile(), class:'brand'}
								#{if currentUser.firstLogin}
									Bienvenue ${currentUser.idBooster}

								#{/if}
								#{else}
									Profil de ${currentUser.fullName}
								#{/else}
							#{/a}

							#{if currentUser.firstLogin}
								Première connexion au site, merci de finaliser votre inscription
							#{/if}

							#{elseif auth.isCandidate()}
								<a id="user_candidature_inprogress_dialog_link" href="#">Candidature en cours sur le laboratoire de ${currentUser.campus.name.label}</a>
							#{/elseif}

							#{elseif auth.isMember()}
								#{a @Users.campus()}Laboratoire de ${currentUser.campus.name.label}#{/a}
							#{/elseif}

							#{elseif auth.isClm()}
								#{a @CampusesAdmin.admin(currentUser.campus.id)}Administration du laboratoire de ${currentUser.campus.name.label}#{/a}
							#{/elseif}

							#{if auth.isGlm()}
								#{a @Glm.index()}Administration des laboratoires#{/a}
							#{/if}

							#{a @Users.logout()}Deconnexion#{/a}
						</p>
			</div>
		#{/if}
		#{else}
			<div class="wrapper">
				<div  class="bouton-connexion">
					#{a @Users.login(),class:'connexion'}Connexion#{/a}
				</div>
			</div>
		#{/else}
	</div>

	<div class="center">
		
		#{if auth.isLogged() && !currentUser.firstLogin}
			<section id="information">
				<div id="user_candidature_inprogress_dialog" title="Candidature en cours">
					<div class="information-image">
						<img src="/public/images/icon/Warning.png">
					</div>
					<div class="information-text">
						<p>
							Votre candidature est en cours sur le campus de ${currentUser.campus.name.label}.
							Pour toute question ou problème (changement de campus, annulation de candidature) veuillez nous contacter sur l'adresse
							support AT laboratoires-java.com.
						</p>
					</div>
				</div>
			</section>
		#{/if}


		<!-- Header -->
		<header id="top">
			<h1>
				<a id="logo" href="/" class="replace">Laboratoires java - développement web et android</a>
			</h1>

			<nav>
				<div id="navigation">
					<ul>
						<li><a href="/" class="nav-support-select">Accueil</a></li>
						<li><a href="/blog" class="nav-support">Blog</a></li>
						<li><a href="#" class="nav-support">Téléchargement</a></li>
						<li><a href="/projets" class="nav-support">Projet</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- Main Body -->	
		<section id="main">
			#{doLayout /}
		</section>
		
		<!-- Footer -->
		<footer id="bottom">
			<section class="footer">
				<p><a href="#">Supinfo</a> -
				<a href="#">Partenaires</a> -
				<a href="#">Twitter</a> -
				<a href="#">Facebook</a> -
				<a href="#">Google plus</a>
				</p>
			</section>
			<section class="copyright">
				<h6>All right reserved, no it's a joke!</h6>
			</section>
		</footer>
	</div>

</body>
</html>
