<!DOCTYPE html>

<html>
<head>
	<title>&{'application.name'} - ${page_title}</title>

	<meta charset="${_response_encoding}">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="/public/stylesheets/design.less" type="text/less" media="screen" />
	#{stylesheet 'special.css'/}


	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	#{script 'less/less.js'/}
	<!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


	#{get 'moreStyles' /}

	<!-- #{script '/template/user_candidature_inprogress.js'/} -->

	#{get 'moreScripts' /}

	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

</head>
<body
	<div id="login">
		#{if auth.isLogged()}
			<div class="parameter">
						<p>

							#{a @Users.profile(), class:'brand'}
								#{if currentUser.firstLogin}
									Bienvenue ${currentUser.idBooster}

								#{/if}
								#{else}
									Profil de ${currentUser.fullName}
								#{/else}
							#{/a}

							#{if currentUser.firstLogin}
								Première connexion au site, merci de finaliser votre inscription
							#{/if}

							#{elseif auth.isCandidate()}
								<a id="user_candidature_inprogress_dialog_link" href="#">Candidature en cours sur le laboratoire de ${currentUser.campus.name.label}</a>
							#{/elseif}

							#{elseif auth.isClm()}
								#{a @CampusesAdmin.admin(currentUser.campus.id)}Administration du laboratoire de ${currentUser.campus.name.label}#{/a}
							#{/elseif}

							#{if auth.isGlm()}
								#{a @Glm.index()}Administration des laboratoires#{/a}
							#{/if}

							#{a @Users.logout()}Deconnexion#{/a}
						</p>
			</div>
		#{/if}
		#{else}
			<div class="wrapper">
				<div  class="bouton-connexion">
					#{a @Users.login(),class:'connexion'}Connexion#{/a}
				</div>
			</div>
		#{/else}
	</div>

	<div class="center">

		#{if auth.isCandidate() && !currentUser.firstLogin}
			<section id="information">
				<div id="user_candidature_inprogress_dialog" title="Candidature en cours">
					<div class="information-image">
						<img src="/public/images/icon/Warning.png">
					</div>
					<div class="information-text">
						<p>
							Votre candidature est en cours sur le campus de ${currentUser.campus.name.label}.
							Pour toute question ou problème (changement de campus, annulation de candidature) veuillez nous contacter sur l'adresse
							support AT laboratoires-java.com.
						</p>
					</div>
				</div>
			</section>
		#{/if}


		<!-- Header -->
		<header id="top">
			<h1>
				<a id="logo" href="/" class="replace">Laboratoires Java - Développement Web & Android</a>
			</h1>

			<nav>
				<div id="navigation">
					<ul>
						<li>
							#{a @Dashboard.index(), class:(menu_current.equals("Dashboard")).yesno('nav-support-select', 'nav-support')}Accueil#{/a}
						</li>
						<li>
							#{a @Users.member(), class:(menu_current.equals("Users")).yesno('nav-support-select', 'nav-support')}Evénements#{/a}
						</li>
						<li>
							#{a @Users.member(), class:(menu_current.equals("Users")).yesno('nav-support-select', 'nav-support')}Membre#{/a}
						</li>
						
						<li>
							#{a @Users.member(), class:(menu_current.equals("Users")).yesno('nav-support-select', 'nav-support')}MiniTalk#{/a}
						</li>
						
						<li>
							#{a @Projects.index(), class:(menu_current.equals("Projects")).yesno('nav-support-select', 'nav-support')}Projets#{/a}
						</li>

						<li>
							#{a @Articles.index(), class:(menu_current.equals("Articles")).yesno('nav-support-select', 'nav-support')}Blog#{/a}
						</li>

						<li>
							#{a @Sponsors.index(), class:(menu_current.equals("Sponsors")).yesno('nav-support-select', 'nav-support')}Partenaires#{/a}
						</li>

					</ul>
				</div>
			</nav>
		</header>

		<!-- Main Body -->
		<section id="main">
			#{doLayout /}
		</section>

		<!-- Footer -->
		<footer id="bottom">
			<section class="footer">
				<p><a href="http://www.supinfo.com/fr/Newsc64b71f3-2a25-4528-8f14-1289fbc7d9d2.aspx" target="_blank">Conditions d'utilisation et Copyright</a> |
				<a href="http://www.supinfo.com/fr/Newsfb479314-991f-466a-8d42-4f07f6a44541.aspx" target="_blank">Respect de la vie privée</a> |
				#{a @Sponsors.index()}Partenaires#{/a} |
				<a href="https://twitter.com/#!/labojava" target="_blank">Twitter</a> |
				<a href="https://www.facebook.com/JavaLab?ref=ts" target="_blank">Facebook</a> |
				<a href="#">Google +</a>
				</p>
			</section>
			<section class="copyright">
				<h6>All right reserved, no it's a joke!</h6>
			</section>
		</footer>
	</div>

</body>
</html>
