
#{extends 'template/template.html' /}
<p>${flash.error}</p>
<p>${flash.success}</p>

<div id="blog">
	<section class="blog-header">
		<h1>Blog</h1>
	</section>

	<article class="article">
		#{form @Articles.newArticle(), method:'GET'}
			#{paginate.list items:listArticle, as:'article'}
				
					<section class="article-titre">
						<h2>#{a @Articles.details(article.id)}${article.title}#{/a}</h2>
					</section>
					<section class="article-presentation">
						#{if article.author.picture}
				<img class="auteur-image" src="@{Users.getPicture(article.author.id)}" width="40"/>
			#{/if}
			#{else}
				<img class="auteur-image" src="http://placekitten.com/g/200/300"/>
			#{/else}
						<p class="auteur-text"> Par <a>${article.author.firstName}</a><br />${article.creationDate}</p>
					</section>
					<section class="article-text">
                        <p>${article.getLimitedContent().raw()}</p>
					</section>
			#{/paginate.list}
            #{paginate.controls items:listArticle /}
        #{/form}
		
	</article>
	<section class="explore">
		<ul>	
			<li>#{a @Articles.newArticle()}Nouvel Article#{/a}</li>
		</ul>
	</section>
</div>