#{extends 'template/template.html' /}
<p>${flash.error}</p>
<p>${flash.success}</p>

<div id="blog">
	<section class="blog-header">
		<h1>Blog</h1>
	</section>

	<article class="article">
		#{form @Articles.newArticle(), method:'GET'}
			#{list items:listArticle, as:'article'}
				
					<section class="article-titre">
						<h2>${article.title}</h2>
					</section>
					<section class="article-presentation">
						<img class="auteur-image" src="http://www.placekitten.com/40/40">
						<p class="auteur-text"> Par <a>${article.author.firstName}</a><br />${article.creationDate}</p>
					</section>
					<section class="article-text">
						<p>${article.content}</p>
						<iframe width="560" height="315" src="http://www.youtube.com/embed/KAB89-ZL9x8" frameborder="0" allowfullscreen></iframe>
					</section>
				
			#{/list}
		#{/form}
	</article>
	<section class="explore">
		<ul>	
			<li>#{a @Articles.newArticle()}Nouvelle Article#{/a}</li>
			<li>Web</li>
			<li>Android</li>
		</ul>
	</section>
</div>