#{extends 'template/template.html' /}

#{include 'helpers/form_validation.html' /}

#{form @Articles.create(), method:'POST', enctype:'multipart/form-data'}
 <p style="color: #c00">${flash.success}</p>
<div id="article">
 <section class="article-header">
  <h1>Nouvelle Article</h1>
 </section>
 <div class="new-article">
 <center>
 
 #{field 'article.title'}
  <p>
    <label>&{field.name}</label>
    <input type="text" name="${field.name}" value="${field.value}" id="publicationTitle" class="fullLength bigChars" maxlength="200">
    <span class="error">${field.error}</span>
  </p>
 #{/field}
  
 #{field 'article.content'}
  <p>
    <label>&{field.name}</label><br />
    <textarea name="${field.name}" value="${field.value}" id="publicationContent" class="fullLength bigChars"></textarea>
    <span class="error">${field.error}</span>
  </p>
 #{/field}
 
    
 
    #{field 'article.creationDate'}
    <p>
 	<label>&{field.name}</label>
 
    <input type="text" name="${field.name}" value="${field.value}" class="${field.errorClass} id="publicationDate"">
    <span class="error">${field.error}</span>
 	</p>
 #{/field}
  <table>
   <tr>
    <td><input type="submit" class="submit" value="Publier l'article"></td>
    <td><input class="submit" value="Retour" onClick="window.location = '@{Dashboard.index()}'"></td>
   </tr>
  </table>
 </div> 
 </center>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/public/javascripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/public/javascripts/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#publicationContent").ckeditor();
});
	
</script>
#{/form}