#{extends 'template/template.html' /}

#{include 'helpers/form_validation.html' /}

#{form @Articles.create(), method:'GET'}
	<p style="color: #c00">${flash.success}</p>
<div id="article">
	<section class="article-header">
		<h1>Nouvelle Article</h1>
	</section>
	<div class="new-article">
	
				<div class="publicationTitle">Titre :</div>
				<input type="text" name="title" value="" id="publicationTitle" class="fullLength bigChars" maxlength="200"/>
		
				<div class="publicationTitle">Edition de l'article :</div>
				<textarea type="text" name="content" id="publicationContent" class="fullLength bigChars" maxlength="200"></textarea>
				
		<table>
			<th>
				<td><div class="publicationTitle">Date de publication : </div></td>
				<td><input type="text" name="creationDate" id="publicationDate" /></td>
			</th>
		</table>
		<br />
		<table>
			<th>
				<td><input type="submit" class="submit" value="Publier l'article"></td>
				<td><input type="submit" class="submit" value="Retour" onClick="window.location = '@{Dashboard.index()}'"></td>
			</th>
		</table>
	</div>	
</div>
	
#{/form}