#{extends 'template/template.html' /}
<div id="content">
	<section class="admin-header">
		<h1>Administration du laboratoire de ${campus.name.label}</h1>
		<p>Bienvenue dans l'interface d'administration du laboratoire.</p>
	</section>
	
	<section class="admin-feature">	
		<h2>Membres <small>(${members.size() + candidates.size()})</small></h2>
			<p>Il y'a actuellement ${members.size()} membres et ${candidates.size()} candidatures en cours.</p>
		
		<ul>
			<li>#{a @CampusesAdmin.candidates(campus.id)}Traiter les candidatures#{/a}</li>
			<li>#{a @CampusesAdmin.members(campus.id)}Liste des membres#{/a}</li>
		</ul>
	</section>
	
</div>