#{extends 'template/template.html' /}

<div class="clm">
	<div class="wrapper">
		<div class="page-header">
			<h1>Laboratoire de ${campus.name.label}
			<small>Administration</small></h1>
		</div>
	
	<p>Bienvenue dans l'interface d'administration du laboratoire. <br /></p>
	</div>
			
	<div class="wrapper2 first">
		<div class="page-header">
			<h2>Membres
				<small>(${members.size() + candidates.size()})</small>
			</h2>
		</div>

		<p>Il y'a actuellement ${members.size()} membres et ${candidates.size()} candidatures en cours.</p>
		
		<ul>
			<li>#{a @CampusesAdmin.candidates(campus.id)}Traiter les candidatures#{/a}</li>
			<li>#{a @CampusesAdmin.members(campus.id)}Liste des membres#{/a}</li>
		</ul>
	</div>

	<div class="wrapper2 last">
		<div class="page-header">
			<h2>Projets
				<small>(${campus.projects.size()})</small>
			</h2>
		</div>
	</div>
</div>