#{extends 'template/template.html' /}
<div id="content">
	<section class="admin-header">
		<h1>Membres du laboratoire
			<small>sur le campus de ${campus.name.label} (${members.size()})</small>
		</h1>
	</section>

	<section class="candidacy">
		<table cellspacing="25px">
			<tr>
				<th>ID Booster</th>
				<th>Nom</th>
				<th>Promotion</th>
			</tr>
			#{list items: members, as: 'member'}
				<tr>
					<td class="idBooster">#{a @Users.details(member.id)}${member.idBooster}#{/a}</td>
					<td>#{a @Users.details(member.id)}${member.fullName}#{/a}</td>
					<td>#{a @Users.details(member.id)}${member.promotion}#{/a}</td>
				</tr>
			#{/list}
		</table>
	</section>
</div>