/* IMPORT */


@import 'less/grid.less';



/* GRID */


// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

/* less function */


.rounded(@radius:5px){
	-moz-border-radius:@radius;
	-webkit-border-radius:@radius;
	-o-border-radius:@radius;
	-khtml-border-radius:@radius;
	-ms-border-radius:@radius;
	-border-radius:@radius;
}

.degrade(@from:#CCC,@to:#000,@x:0,@y:0,@x1:100,@y1:100){
	background: -webkit-gradient(linear, @x @y, @x1 @y1, from(@from), to(@to));
	background: -moz-linear-gradient(top, @from, @to);
}

.transition(@property:color,@transition-duration:.1s,@transition-timing-function:linear){
	-webkit-transition: @property @transition-duration @transition-timing-function;
    -moz-transition: @property @transition-duration @transition-timing-function;
    -o-transition: @property @transition-duration @transition-timing-function;
    transition: @property @transition-duration @transition-timing-function;
}

.box-shadow(@x:0px,@y:0px,@size:0px,@color:black){
	-moz-box-shadow: @x @y @size @color;
	-webkit-box-shadow: @x @y @size @color;
	-o-box-shadow: @x @y @size @color;
	box-shadow: @x @y @size @color;
}
.box-shadow-inset(@x:0px,@y:0px,@size:0px,@color:black){
	-moz-box-shadow:inset @x @y @size @color;
	-webkit-box-shadow:inset @x @y @size @color;
	-o-box-shadow:inset @x @y @size @color;
	box-shadow:inset @x @y @size @color;
}

/* style */


body{
	background: url('/public/images/background/noise.png') repeat;

	font-family: sans-serif;

	margin:0px;
}

h1{
	color: #333;

	font-family: "Signika";
	font-size:30px;
	font-weight:500;

	margin:0px;
}
h2{
	color: #333;

	font-family: "Myriad Pro";
	font-size:30px;
	font-weight:500;
}
h3{
	color: #333;

	font-family: "Signika";
	font-size:16px;
	font-weight:100;
}
h6{
	color: #CCC;

	font-family: "Signika";
	font-size:13px;
	font-weight:100;
}
a{
	
}
p{
	color: #777;

	font-family:sans-serif;
	font-size:14px;
	line-height:18px;
}
.select select{
	font-size: 13px;
	font-family:sans-serif;
	font-weight:500;

	color: #9fa3a8;
	background: transparent;

	padding: 5px;

	width: 190px;
	height: 26px;

	border: 1px solid #e2e5e9;
	.rounded(5px);
	
	-webkit-appearance: none;

}
.select {
   width: 180px;
   height: 26px;

   .rounded(5px);
   
   background: url('/public/images/icon/arrowDouble.png') no-repeat right white;
}
#send-message-bouton{

}
a#send-message-bouton{
	font-family: "Signika";
	font-size:14px;
	font-weight:100;

	line-height:37px;

	color: #888;

	text-transform : uppercase;
	text-decoration:none;
	text-shadow: 0px 1px 0px white;

	float:right;
	.transition(margin,.3s,linear);
}
a#send-message-bouton:hover{
	margin-right:8px;
}
a#send-message-bouton:hover:after{
	content:url('/public/images/icon/Mail.png');
	width:100px;
	height:37px;
	
}
#message{
	position: fixed;
	top:0;
	left:0;

	width:100%;
	height:100%;

	background: rgba(0,0,0,0.6);
}
/* layout */


// general

div.center {
	width: 960px;

	margin: 0 auto;
	overflow: hidden;
}

a.replace{
	display: block;
	overflow: hidden;
	text-indent: -999em;
}

#logo{
	width:271px;
	height:50px;

	background: url("/public/images/sprite.png") no-repeat;
}

div#content{
	.rounded(3px);
	/*.box-shadow(0px,0px,2px,#666);*/

	background-color: rgb(255,255,255);

	float: left;

	width:100%;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);		
}

.first{
	margin-right:0px!important;
}

.last{
	margin-left:0px!important;
}
////////////
//  menu  //
////////////
nav{
	height: 20px;
	min-height: 20px;
	max-height: 87px;
	width: auto;
	min-width: auto;
	
	margin: 0 auto;

	font-family:"droid sans";
	
	position: relative;
	float: right;
}

nav #navigation ul{
	list-style: none;
	padding: 0px 0px 5px 0px;

	border-bottom: 1px solid white;
	.rounded(3px);
}
nav #navigation ul li{
	display: inline;
}

.nav-support{
	font-family: sans-serif;
	font-size: 14px;
	font-weight:100;
	color: #888;
	text-decoration: none;

	
	position: relative;
	display: inline-block;
	line-height: 20px;
	padding:10px;
	margin: 10px 0px 0px 10px;

	border: 1px solid rgba(0,0,0,0);
	text-shadow: 0 1px 1px white;
	vertical-align: middle;	
	background: transparent;
	cursor: pointer;
	.rounded(3px);
	.box-shadow(0px, 1px, 1px, transparent);
	.transition(all,0.1s,linear);
}
a.nav-support:hover{
	color: #c51c00;
}
a.nav-support-select{
	font-family: sans-serif;
	font-size: 14px;
	font-weight:100;
	color: #888;
	text-decoration: none;
	text-shadow: 0 1px 1px white;
	line-height: 20px;

	position: relative;
	display: inline-block;
	vertical-align: middle;

	padding:10px;
	margin: 10px 0px 0px 10px;

	
	background: transparent;
	cursor: pointer;

	border: 1px solid #C2C2C2;
	.rounded(3px);
	.box-shadow(0px, 1px, 1px, white);

}

////////////
// login
////////////
#login{
	width:960px;
	margin: 0px auto;
}
#login .wrapper{
	float: right;
}
#login .connexion{
	width:82px;
	height:35px;

	font-family:sans-serif;
	font-size:13px;

	text-decoration:none;
	text-align:center;
	line-height:35px;
	
	display: block;
	overflow: hidden;

	background: url('/public/images/home/connexion.png')center top no-repeat;
	color:whitesmoke;
}
#login .connexion:hover{
	background: url('/public/images/home/connexionhover.png')center top no-repeat;
}
////////////
//template
////////////

header#top {
	width:100%;
	
	margin:30px 0px 10px 0px;
}

header h1{
	float:left;
	margin-left:10px;
	margin-top:30px;
}

#main{
	.column(12);
	margin-bottom:10px;
	margin-top:30px;
}
.dashboard-question{
	width:300px;

	padding: 20px;

	float: left;

	display: inline-block;

	text-align: center;
}
.dashboard-question p{
	line-height: 24px;
}
.dashboard-contact{
	width:560px;

	padding: 20px;

	float: left;

	display: inline-block;

	text-align: left;
}
.dashboard-contact p{
	line-height: 24px;
}
section#question{
	background: url('/public/images/background/feature-bg.jpeg') bottom repeat-x;
	
	overflow: hidden;
	border-bottom: 1px solid #E2E2E2;
	
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 20px 0px;
	
	max-height:190px;

	display: block;
	vertical-align:top;

	.rounded(3px);

}

.question-text p{
	font-size:16px;
	line-height:22px;
}
.question-text{
	width:540px;

	display: inline-block;
	margin: 0px 0px 0px 10px;

	vertical-align:top;
}

section#contact{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
.contact-form{
	width:500px;
	
	display: inline-block;
	vertical-align:top;
}
.contact-form input{
	width:300px;
	height:30px;

	font-size:14px;
	font-family:sans-serif;
	font-weight:100;

	padding: 0px 5px;

	display: block;
	
	.box-shadow(0px,0px,0px,transparent);

	border:1px solid #CCC;

	.rounded(2px);
	.box-shadow-inset(0px,-1px,3px,rgba(0,0,0,0.1));

}
.contact-form textarea{
	width:400px;
	height:150px;

	margin: 10px 0px 0px 0px;
	padding: 5px;

	resize: none;

	font-size:13px;
	font-family: sans-serif;

	.rounded(2px);

	border:1px solid #CCC;

	color: rgba(0,0,0,0.4);
}
.contact-form input.submit{
	font-family: "Signika";
	font-size:13px;
	font-weight:500;

	width:100px;

	background: rgba(0,0,0,0.1);
	color: #C2C2C2;
}
.contact-form input.submit:hover{
	background: whitesmoke;
	color: rgba(0,0,0,0.8);

	cursor: pointer;
	
}
.contact-text{
	text-align: justify;

	width:390px;

	display: inline-block;
}
article#product{
	height:430px;

	position: relative;

	margin:20px 20px 30px 20px;
	padding:40px 0px;

	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
}
article#product .slides_container{
	position: relative;

	left: 38px;	
}
article#product .slide{
	width:830px;
	height:410px;
}
article#product .prev{
	position: absolute;
	top:205px;
	left:-20px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}
article#product .next{
	position: absolute;
	top:205px;
	right:-20px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}
article#product .product-image{
	display: inline-block;
}
article#product .product-text{
	width:500px;

	display: inline-block;	
	vertical-align:top;
}
article#product .product-text p{
	line-height: 24px;
}
article#features{
	margin:30px;
	padding:10px 20px;

	border: 1px solid #EFEFEF;
	background: #FCFCFC;
	.box-shadow-inset(0px, 1px, 0px, #E6E6E6);
	.rounded(4px);

	float: left;
}

article#features .features-group{
	width:270px;

	margin: 20px 3px;

	vertical-align:top;
	display: inline-block;
}
article#features .features-group .feature-image{
	width:48px;
	float: left;
}
article#features .features-group .feature-text{
	margin-left:54px;
}
article#features .features-group .feature-text h3,article#features .features-group .feature-text p{
	margin:0px;
	display: inline;

	font-weight:100;

	line-height:22px;
}
// push
#push {
	.column(8);
	.push(4);
	margin-bottom: 1em;
}

// pull
#pull {
	.column(8);
	.pull(4);
	margin-bottom: 1em;
}

section#information{
	background:white;

	.rounded(4px);
	border: 1px solid #CCC;
	float:left;

	padding:10px 20px 10px 20px;
}
.information-image{
	width:48px;
	float:left;
}
.information-text{
	display: block;
	margin-left: 60px;
}
.information-text p{
	margin:0px;
	padding:10px 0px 0px 0px;
}
////////////////
// footer
////////////////

footer#bottom{
	float: left;

	width:100%;

	margin: 20px 0px 5px 0px;
}
.copyright{
	width:100%;

	text-align: center;
}
.footer{
	text-align: center;
}
.footer a, .footer p{
	color: rgba(0,0,0,0.5);

	text-decoration: none;

	.transition(color,0.1s,linear);
}
.footer a:hover{
	color: #c51c00;
}

//////////////////
// parameter
//////////////////
.parameter{
	text-align:right;
}
.parameter a{
	font-family:sans-serif;
	font-weight:500;
	font-size:13px;

	color: rgba(0,0,0,0.3);

	text-shadow: 0px 1px 0px white;
	text-decoration:none;

	margin-left:10px;

	.transition(color,.1s,linear);
}
.parameter a:hover{
	color: rgba(0,0,0,0.6);
}

////////////////////
// profile
///////////////////
.profile-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
.profile-header h1{
	display: inline-block;
}
article.profile{
	padding: 20px;
}
.profile-image{
	width:200px;
	display: inline-block;

	margin: 0px 30px 0px 0px;
}
.profile-image img{
	.rounded(3px);
}
.profile-form{
	display: inline-block;
	vertical-align: top;

	margin: 0px 30px;
}
.profile-form table tr td{
	margin:5px;
}
.profile-form h5{
	margin:0;
}
.profile-form input{
	height:25px;
	width:178px;

	border: 1px solid #e8eaed;

	.box-shadow-inset(0px,0px,1px,rgba(232,324,237,0.5));
	.rounded(3px);

	padding: 0px 5px;
}
.profile-textarea{
	display: inline-block;
	vertical-align:top;
}
.profile-textarea textarea{
	.rounded(3px);
	border: 1px solid #e2e5e9;

	width:260px;
	height:300px;

	margin: 0px 0px 0px 30px;
	padding: 10px;

	resize: none;

	font-family: "Signika";
	font-size:13px;
	font-weight:100;

	color: rgba(0,0,0,0.8);
}
.profile-submit{
	text-align:right;
}
.profile-submit input.submit{
	border:1px solid #e2e5e9;
	background: transparent;

	font-family: "Signika";
	font-size:13px;
	font-weight:500;

	padding:10px;
	margin:5px;
}
.profile-submit input.submit:hover{
	cursor: pointer;

	color:#C51C00;
}
.profile-text{
	width:666px;

	display: inline-block;

	vertical-align: top;
	text-align:justify;
}
.profile-feature{
	width:320px;

	display: inline-block;

	vertical-align:top;
}
.profile-feature p a{
	color: #777;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
}
.profile-feature:last-child{
	margin-left:20px;
}
//////////////
// admin
/////////////
.admin-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
.admin-feature{
	width:400px;

	display: inline-block;
	vertical-align:top;

	padding:20px;
}
.admin-feature ul{
	list-style: none;
}
.admin-feature a{
	font-family: sans-serif;
	font-size:13px;
	font-weight:100;
	line-height:20px;

	color: #888;
	text-decoration:none;
}
.admin-feature a:hover{
	color: #c51c00;
}
.admin-activity{
	width:400px;

	display: inline-block;
	vertical-align:top;

	padding:20px;
}
.candidacy{
	width:500px;

	padding:20px;
	margin:0 auto;
}
.candidacy table th{
	text-align:left;
	margin:40px;

	color: #444;
}
.candidacy .idBooster a{
	font-family:sans-serif;
	font-size:16px;
	font-weight:bold;

	color: #333;

	text-decoration:none;
}
.candidacy td a{
	color: #333;
	font-family:"Signika";
	font-size:16px;

	text-decoration:none;
}
.candidacy input.accepted{
	border:1px solid #50781f;

	.rounded(3px);
	padding:10px;
	background:white;
	.degrade(#a8d34e,#75b834,0,0,0,40);

	font-family:sans-serif;
	font-weight:500;

	text-shadow:0px 1px 0px rgba(0,0,0,0.3);

	color:white;

	.box-shadow(0px,1px,1px,rgba(0,0,0,0.6));

	cursor: pointer;
}
.candidacy input.refused{
	border:1px solid #9b2e33;

	.rounded(3px);
	padding:10px;
	background:white;
	.degrade(#f87088,#e3414c,0,0,0,40);

	font-family:sans-serif;
	font-weight:500;

	text-shadow:0px 1px 0px rgba(0,0,0,0.3);

	color:white;

	.box-shadow(0px,1px,1px,rgba(0,0,0,0.6));

	cursor: pointer;
}
.candidacy input.refused:hover,.candidacy input.accepted:hover{
	.box-shadow(0px,1px,1px,rgba(0,0,0,0.0));
}

//////////////////
//message
//////////////////
section.message-main{
	width:400px;

	margin:60px auto 0px auto;

	background: white;
	
	.rounded(4px);
	.box-shadow(0px, 0px, 4px, rgba(0, 0, 0, 0.1));
	border: 1px solid white;
}
.message-text{
	width: 100%;

	background: white;

	text-align: center;

	border-bottom: 1px solid #F2F4F5;
}
.message-text img{
	margin:40px 0px 0px 0px;
}
.message-text h3{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;

	color: #3A3E42;
	
	margin: 20px 0px;
}
.message-text p{
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 100;

	color: #A4A9AD;
	
	margin: 0px 0px 20px 0px;
}
.message-text p strong{
	color: #515558;
	
	font-weight: 500;
}
.message-form {
background: #F8FAFB;

width: 100%;
min-height: 100px;

padding: 20px 0px 20px 0px;

text-align: center;
}
.message-form input{
	width:200px;
	height: 25px;

	color:#888;
	
	border: 1px solid #E8EAED;
	.box-shadow-inset(0px, 0px, 1px, rgba(232, 324, 237, 0.5));
	.rounded(3px);
	
	padding: 0px 5px;
	margin: 10px auto;

	display: block;
}
.message-form textarea{
	width:200px;
	height: 150px;

	color:#888;
	
	border: 1px solid #E8EAED;
	.box-shadow-inset(0px, 0px, 1px, rgba(232, 324, 237, 0.5));
	.rounded(3px);
	
	padding: 0px 5px;
	margin: 10px auto;

	resize: none;

	display: block;
}
.message-form input.submit{
	width:90px;
	height:35px;
	

	.degrade(#44c6ef,#30ade8,0,0,0,30);
	border: 1px solid #31a0c9;
	.box-shadow(0px,1px,2px,rgba(0,0,0,0.5));

	color: white;

	font-family:"Signika";
	font-size:13px;
	font-weight:500;

	line-height:35px;

	text-align:center;
	margin:10px 0px 0px 215px;

}
.message-form input.submit:hover{
	.box-shadow(0px,1px,2px,rgba(0,0,0,0.0));
}
.close{
	position: relative;
	right: -230px;
	top: -70px;

	cursor: pointer;
}
////////////////
// Projet
////////////////

#projet{
	background: white;

	.rounded(3px);

	float: left;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.projet-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
#projet .explore{
	width:280px;
	margin-right:20px;
}
#projet .explore ul{
	list-style: none;
}
#projet .explore ul li{
	background-color: rgba(0,0,0,0.2);
	margin-bottom:2px;
	padding:3px;
	text-decoration: none; 
	color: #3E3E3E;
}	
#projet .explore ul li a{
	color: #333;
	font-family:"Signika";
	font-size:16px;
	text-decoration: none;
}
#projet .explore ul li:hover{
	background-color: rgba(0,0,0,0.1);
	margin-bottom:2px;
	padding:3px;
	cursor: pointer;

	color: #c51c00;
}
.projet{
	width:900px;

	padding:20px;
	margin:0 auto;
}
.projet table th{
	text-align:left;
	margin:40px;

	color: #444;
}
.projet td a{
	color: #333;
	font-family:"Signika";
	font-size:16px;

	text-decoration:none;
}

#projet input.submit{
	font-family: "Signika";
	font-size:13px;
	font-weight:500;

	width:100px;

	background: rgba(0,0,0,0.1);
	color: #C2C2C2;
}
#projet input.submit:hover{
	background: whitesmoke;
	color: rgba(0,0,0,0.8);

	cursor: pointer;
	
}
////////////////
// Blog
////////////////

#blog{
	background: white;

	.rounded(3px);

	width: 940px;

	float: left;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.blog-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
#blog .article{
	width:620px;

	float: left;

	border-bottom: 1px solid rgba(0,0,0,0.1);

	margin-bottom: 10px;
	margin-left:20px;
}
#blog .article h2{
	margin:10px 0px;
}
#blog .article h2 a{
	text-decoration:none;
	color: #000;
}
#blog .article-presentation{
	height:50px;
}
#blog .auteur-image{
	float: left;
	width: 40px;
	margin-right:10px;
}
#blog  img.auteur-image{
	.rounded(3px);
}
#blog .auteur-text{
	font-size:11px;

	line-height:18px;
	color: #969696;

	padding-top:10px;
}
#blog .auteur-text a{
	color: #333;

	font-family: "Signika";
	font-weight:bold;
}
#blog .auteur-text a:hover{
	color: #c51c00;

	cursor: pointer;
}
#blog .article-text p{
	font-family: "verdana", sans-serif;
	font-size: 13px;
	color: #3E3E3E;
	line-height: 18px;
	text-align: justify;
	width: 900px;
}

#blog .explore{
	float:right;
	width:280px;
	margin-right:20px;
}
#blog .explore ul{
	list-style: none;
}
#blog .explore ul li{
	background-color: rgba(0,0,0,0.2);
	margin-bottom:2px;
	padding:3px;
	color: #3E3E3E;
}
#blog .explore ul li a{
	color: #333;
	font-family:"Signika";
	font-size:16px;
	text-decoration: none;
}
#blog .explore ul li:hover{
	background-color: rgba(0,0,0,0.1);
	margin-bottom:2px;
	padding:3px;
	cursor: pointer;
	color: #c51c00;
}
////////////////
// Article
////////////////
#article{
	background: white;

	.rounded(3px);

	float: left;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.article-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
#article .new-article{
	width:940px;

	float: left;

	border-bottom: 1px solid rgba(0,0,0,0.1);

	margin-bottom: 10px;
	margin-left:20px;
}
#article .new-article h2{
	margin: 0px 0px;
}
#article .article-presentation{
	height:50px;
}
.article .title{
display: block;
margin-top: 5px;
font-size: 18px;
color: #FFF;
background-color: #000;
width: 470px;
font-family: "Myriad Pro";
}
.article #CommentUsername{
float: left;
position: relative;
outline: none;
width: 100%;
padding-left: 10px
border: 1px #E5E5E5 solid;
border-bottom-width: 2px;
background-color: white;
height: 25px;
}
.article #CommentContent{
float: left;
position: relative;
outline: none;
width: 100%;
padding-left: 10px;
border: 1px #E5E5E5 solid;
border-bottom-width: 2px;
background-color: white;
height: 25px;
}
.talk #CommentUsername{
float: left;
position: relative;
outline: none;
width: 100%;
padding-left: 10px;
border: 1px #E5E5E5 solid;
border-bottom-width: 2px;
background-color: white;
height: 25px;
}
.talk #CommentContent{
float: left;
position: relative;
outline: none;
width: 100%;
padding-left: 10px;
border: 1px #E5E5E5 solid;
border-bottom-width: 2px;
background-color: white;
height: 25px;
}
#commentName{
color: #000;
}
input.submit {
position: relative;
display: inline-block;
height: 25px;
line-height: 25px;
padding: 0 15px;
color: white;
border: none;
background-color: #33B8AE;
border-style: none;
border: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 3px solid rgba(0, 0, 0, 0.2) !important;
text-shadow: 0px 0px 1px #333;
text-decoration: none;
font-size: 14px;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
input.submit:hover {
position: relative;
margin-top: 1px;
height: 24px;
line-height: 24px;
color: white;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
}
.bigChars {
	font-size: 2em;
	line-height: 1em;
}
.fullLength {
	width: 685px;
	height: 20px;
}
#publicationContent{
	height: 470px;
}
#cke_publicationContent{
	height: 325px;
	width: 900px;
}
#publicationDate{
	width: 130px;
	height: 18px;
}
.new-article input{

	font-size:14px;
	font-family:sans-serif;
	font-weight:100;

	padding: 0px 5px;

	display: block;
	
	.box-shadow(0px,0px,0px,transparent);

	border:1px solid #CCC;

	.rounded(2px);
	.box-shadow-inset(0px,-1px,3px,rgba(0,0,0,0.1));

}
.new-article textarea{

	margin: 10px 0px 0px 0px;
	padding: 5px;

	resize: none;

	font-size:13px;
	font-family: sans-serif;

	.rounded(2px);

	border:1px solid #CCC;

	color: rgba(0,0,0,0.4);
}
.new-article input.submit{
font-family: "Signika";
position: relative;
display: inline-block;
height: 25px;
line-height: 25px;
padding: 0 15px;
color: white;
border: none;
background-color: #33B8AE;
border-style: none;
border: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 3px solid rgba(0, 0, 0, 0.2) !important;
text-shadow: 0px 0px 1px #333;
text-decoration: none;
font-size: 14px;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.new-article input.submit:hover{
position: relative;
margin-top: 1px;
height: 24px;
line-height: 24px;
color: white;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));	
}
////////////////
// Projet
////////////////
#project{
	background: white;

	.rounded(3px);

	float: left;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.project-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
#project .new-project{
	width:940px;

	float: left;

	border-bottom: 1px solid rgba(0,0,0,0.1);

	margin-bottom: 10px;
	margin-left:20px;
}
#project .new-project h2{
	margin: 0px 0px;
}
#project .project-presentation{
	height:50px;
}
#publicationTitle{
	olor: #333;
	font-family: "Signika";
	font-size: 16px;
	font-weight: 100;
	padding: 0;
	margin: 0;
}
.bigChars {
	font-size: 2em;
	line-height: 1em;
}
.fullLength {
	width: 685px;
	height: 20px;
}
#publicationContent{
	height: 470px;
}
#cke_presentationContent{
	height: 325px;
	width: 900px;
}
#cke_technologiesContent{
	height: 325px;
	width: 900px;
}
#cke_descriptionContent{
	height: 325px;
	width: 900px;
}
.new-project input{

	font-size:14px;
	font-family:sans-serif;
	font-weight:100;

	padding: 0px 5px;

	display: block;
	
	.box-shadow(0px,0px,0px,transparent);

	border:1px solid #CCC;

	.rounded(2px);
	.box-shadow-inset(0px,-1px,3px,rgba(0,0,0,0.1));

}
.new-project textarea{

	margin: 10px 0px 0px 0px;
	padding: 5px;

	resize: none;

	font-size:13px;
	font-family: sans-serif;

	.rounded(2px);

	border:1px solid #CCC;

	color: rgba(0,0,0,0.4);
}
.new-project input.submit{
	font-family: "Signika";
	font-size:13px;
	font-weight:500;
	text-align: center;
	width:100px;

	background: rgba(0,0,0,0.1);
	color: #C2C2C2;
}
.new-project input.submit:hover{
	background: whitesmoke;
	color: rgba(0,0,0,0.8);

	cursor: pointer;
	
}
////////////////
// Member
////////////////

#member{
	background: white;

	.rounded(3px);

	float: left;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.member-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
.member{
	width:940px;

	text-align: center; 

	padding: 0; 

	margin: 0; 
}
.member table th{
	text-align:left;
	
	margin : 10px auto auto auto; 
	
	color: #444;
}
.member td a{
	color: #333;
	font-family:"Signika";
	font-size:16px;

	text-decoration:none;
}
.member tr td img{
	float: left;
	width: 60px;
	margin-right:10px;
	.rounded(3px);
}
////////////////
// Sponsor
////////////////
#sponsor{
	background: white;

	.rounded(3px);

	float: left;

	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.sponsor-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
.sponsor{
	width:940px;
	text-align: center; 
	padding: 0; 
	margin: 0; 
}

.sponsor ul.case-studies li a img {
display: block;
margin: 0;
padding: 0;
border-radius: 3px;
-khtml-border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background-clip: padding;
-moz-background-clip: padding;
-webkit-background-clip: padding;
}

#pastouche img {
width: 150px;
display: block;
border-radius : 5px 5px;
margin: 0 0 20px;
}

#pastouche img:hover {
display: block;
border:solid 4px #005F81;
border-radius : 5px 5px;
margin: 0 0 20px;
}
.sponsor a:hover {
color: #005F81;
}

.sponsor tr th a {
text-decoration:none;
}

.thirteen-columns user agent stylesheeta:-webkit-any-link:active {
color: -webkit-activelink;
}

.thirteen-columns user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
cursor: auto;
}

.thirteen-columns user agent stylesheetli {
text-align: -webkit-match-parent;
}

.thirteen-columns user agent stylesheetul, menu, dir {
list-style-type: disc;
}

div.fixed-container {
width: 1000px;
padding-top: 10px;
}

div.fixed-container {
padding: 0;
width: 940px;
margin: 0 auto;
}

.thirteen-columns user agent stylesheetdiv {
display: block;
}

#talks{
	background: white;

	.rounded(3px);

	float: left;
	width: 940px;
	box-shadow:
	0px 1px 1px -1px rgba(0,0,0,0.40),
		0px 10px 0px -5px #F7F7F7,
			0px 11px 1px -5px rgba(0,0,0,0.40),
				0px 22px 0px -12px #F7F7F7,
					0px 23px 1px -12px rgba(0,0,0,0.40);
}
.talk-header{
	background: url('/public/images/background/footer-section.png') bottom center no-repeat;
	padding:20px;
}
.talks {
font-size: 14px;
color: #909090;
line-height: 18px;
position: relative;
width: 238px;
height: 330px;
display: inline-block;
margin-left: 50px;
margin-top: 20px;
overflow: hidden;
background-color: white;
border: solid 1px #CECECE;
border-bottom-width: 2px;
-moz-border-radius-bottomleft: 2px;
-webkit-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-moz-border-radius-bottomright: 2px;
-webkit-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
opacity: 1;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-box-shadow: 0px 0px 0px #CECECE;
-moz-box-shadow: 0px 0px 0px #cecece;
box-shadow: 0px 0px 0px #CECECE;
}
.talks .meta{
display: block;
position: absolute;
bottom: 0;
left: 0;
right: 0;
z-index: 3;
background-color: white;
height: 23px;
border-top: 1px dashed #909090;
font-size: 12px;
}
.talks .time {
line-height: 23px;
position: absolute;
padding-right: 3px;
bottom: 0;
left: 10px;
color: #909090;
border-right: 1px dashed #909090;
}
.talks .comment{ 
text-align: right;
line-height: 23px;
position: absolute;
bottom: 0;
left: 75px;
right: 10px;
color: #909090;
}
.talks iframe{
width: 236px;
height: 144px;
margin-left: 1px;
margin-top: 1px;

}
.talks h2{
display: block;
margin-top: 5px;
text-align: center;
font-size: 1.2em;
color: black;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.talks a{
display: block;
margin-top: 5px;
text-align: center;
color: black;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-size: 1.2em;
font-weight: bold;
font-family: "Myriad Pro";
text-decoration: none;

}
.talks p{
display: block;
margin-top: 5px;
text-align: center;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.talks .title{
height: 25px;
display: block;
line-height: 25px;
margin: 36px 0px 12px 0;
color: black;
}
.talk{
font-size: 14px;
line-height: 18px;
float: left;
position: relative;
margin: 0px 20px 20px 20px;
}
.talk h2{
display: block;
margin-top: 5px;
font-size: 1.2em;
color: #FFF;
background-color: #000;
width: 470px;
}
.talk .auteur-image{
	float: left;
	width: 40px;
	margin-right:10px;
}
.talk  img.auteur-image{
	.rounded(3px);
}
.talk .auteur-text{
	font-size:11px;
	line-height:18px;
	color: #969696;
	padding-top:10px;
}
.talk .auteur-text a{
	color: #333;
	font-family: "Signika";
	font-weight:bold;
}
.talk .auteur-text a:hover{
	color: #c51c00;
	cursor: pointer;
}
.talk .talk-text p{
	font-family: "verdana", sans-serif;
	font-size: 13px;
	color: #3E3E3E;
	line-height: 18px;
	text-align: justify;
}
#talks .explore{
	float:right;
	width:170px;
	margin-right:20px;
}
#talks .explore ul{
	list-style: none;
}
#talks .explore ul li{
	background-color: rgba(0,0,0,0.2);
	margin-bottom:2px;
	padding:3px;
	color: #3E3E3E;
}
#talks .explore ul li a{
	color: #333;
	font-family:"Signika";
	font-size:16px;
	text-decoration: none;
}
#talks .explore ul li:hover{
	background-color: rgba(0,0,0,0.1);
	margin-bottom:2px;
	padding:3px;
	cursor: pointer;
	color: #c51c00;
}
.pagination-centered {
text-align: center;
margin-left: 35c0px;
font-family:"Signika";
font-size: 13px;
color: #005580;
}
ul.pagination {
display: inline-block;
*display: inline;
margin-bottom: 0;
margin-left: 0;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
      border-radius: 4px;
*zoom: 1;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
 -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
border-width: 1px;
}

.pagination li {
float: left;
padding: 2px 10px;
line-height: 20px;
text-decoration: none;
list-style: none;
background-color: #ffffff;
border: 1px solid #dddddd;
-webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-topleft: 4px;
-webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
}

.pagination .previous-off a,
.pagination .next-off a, 
.pagination .off a:link, 
.pagination .off a:visited {
color: #999999;
cursor: default;
}

.pagination .next a, 
.pagination .previous a, 
.pagination .first a, 
.pagination .last a {
font-weight: bold;
color: #00000;
}

.pagination .active {
color: #00000;
background-color: #DEDEDE;
font-weight : bold;
}

.pagination a:link, .pagination a:visited {
color: #005580;
display : block;
float: left;
padding: 3px 6px;
text-decoration: none;
}

.pagination a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}