#{extends 'template/template.html' /}

#{script 'showMessage.js'/}

<div id="blog">
	<section class="blog-header">
		<h1>${talk.title}</h1>
	</section>

	<section class="talk">
	
				<section class="talk-presentation">
					#{if talk.speaker.picture}
						<img class="auteur-image" src="@{Users.getPicture(talk.author.id)}" width="40"/>
					#{/if}
					#{else}
						<img class="auteur-image" src="http://placekitten.com/g/200/300"/>
					#{/else}
						<p class="auteur-text"> Par <a>${talk.speaker.fullName}</a></p>
					</section><br /><br />
 					 <center>
 					 	<span class="iframeDetails">
						${talk.iframe.raw()}
						</span>
 					 </center>
					<div class="title">
						<h2>A propos</h2>
					</div>
					<section class="talk-text">
						<p>${talk.content.raw()}</p>
					</section>

					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_pinterest_pinit"></a>
					<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ffdf5fc47956785"></script>
					<!-- AddThis Button END -->
    </section>
</div>
