#{extends 'template/template.html' /}
<p>${flash.error}</p>
<p>${flash.success}</p>

<div id="talks">
    <section class="talk-header">
        <h1>Talks</h1>
    </section>

    <section class="talks">
        #{paginate.list items:talks, as:'talk'}
            <span class="iframe">
                ${talk.iframe.raw()}
            </span>
            <h2>#{a @Talks.details(talk.id)}${talk.title}#{/a}</h2>
            <p>${talk.content}</p>
            <span class="meta">
                <span class="time">${talk.speaker.fullName}</span>
                <span class="comment">${talk.comments.size()} Commentaires</span>
            </span>
        #{/paginate.list}
    </section>

    <section class="explore">
        <ul>
        #{if auth.isClm() || auth.isGlm()}
            <li>#{a @Talks.create()}Add Mini-Talk#{/a} </li>
        #{/if}
        </ul>
    </section>

      <div class="pagination-centered">#{paginate.controls items:talks /}</div>
</div>