#{extends 'template/template.html' /}

#{script 'showMessage.js'/}

<div id="content">
	<section class="profile-header">
		<h1>${user.getFullName()}</h1>
		<a href="#" id="send-message-bouton" class="lightbox-message" alt="${user.getFullName()}">envoyer un message</a>
		<p>${user.getCampus().name}<p>	
	</section>
	
	<article class="profile">
		<div class="profile-image">	
			#{if user.picture}
				<img src="@{Users.getPicture(user.id)}" width="200"/>
			#{/if}
			#{else}
				<img src="http://placekitten.com/g/200/300"/>
			#{/else}
		</div>
		
		<div class="profile-text">
			<h1>Présentation</h1>
			#{if user.presentation}
				<p>${user.presentation}</p>
			#{/if}
			#{else}
				<p>Ce membre n'a pas encore rempli sa présentation.</p>
			#{/else}
			<div class="profile-feature">
				<h3>Qualification</h3>
				#{if user.qualification}
					<p>${user.qualification}</p>
				#{/if}
				#{else}
					<p>Ce membre n'a pas spécifié ses compétences</p>
				#{/else}
			</div>
			<div class="profile-feature">
				<h3>Projet en cours</h3>
				#{if user.projects}
					#{list items:projects, as:'project'}
    					<p>#{a @Projects.details(project.id)}${project.name}#{/a}</p>
					#{/list}					
				#{/if}
				#{else}
					Cet utilisateur ne participe à aucun projet.
				#{/else}
			</div>

		</div>
	</article>	
</div>
