#{extends 'template/login_template.html' /}
<div class="login">
	<div class="wrapper">
		<div class="content">
			<div class="connexion">
				<div class="titre">
        			<h1><a href="/">Laboratoires java</a></h1>
        		</div>
				
				<h3>Information complémentaire</h3>

				<div class="input-firstLogin">
					<p style="font-size:11px;color:#cecece">Ceci est votre première connexion, renseignez vos informations</p>

					#{include 'helpers/form_validation.html' /}

					#{form @Users.firstLoginProcess(), id:'firstlogin-form', enctype:'multipart/form-data' }
				
						#{field 'user.firstName'}
							<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" placeholder="&{field.name}"/>
							<br />

							#{if field.error}
								<span><p class="information_error">${field.error}</p></span>
							#{/if}
						#{/}
					
						#{field 'user.lastName'}
							<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" placeholder="&{field.name}"/>
							<br />
							#{if field.error}
								<span><p class="information_error">${field.error}</p></span>
							#{/if}
						#{/}
					
						#{field 'campusId'}
							<!-- <label for="${field.id}">&{field.name}</label> -->
							<select name="${field.name}">
								<option value="">Selectionnez un campus</option>
								#{list items:campuses, as:'item'}
									<option value="${item.id}" ${(field.value.equals(item.id)).yesno('selected', '')}>${item.name.label}</option>
								#{/list}
							</select>
						#{/}
					
						#{field 'user.promotion'}
							<!-- <label for="${field.id}">&{field.name}</label> -->
							<select name="${field.name}">
								<option value="">Selectionnez une promotion</option>
								#{list items:promotions, as:'item'}
									<option value="${item}" ${(field.value.equals(item)).yesno('selected', '')}>${item.label}</option>
								#{/list}
							</select>
						#{/}
						
						<input class="save" type="image" src="/public/images/login/save_information.png" name="Enregistrer les informations"/>
						
					#{/form}
					<p class="first" style="display:none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				</div><!-- input-login -->
			</div><!-- connexion -->		
		</div><!-- content -->
	</div><!-- wrapper -->
</div><!-- login -->
