#{extends 'template/login-template.html' /}
	
	<div class="login-text">
		<img src="/public/images/icon/secure.png">
		<h3>Connexion</h3>
		<p>Utilisez votre <strong>IdBooster</strong> pour continuer.</p>
	</div>

	<div class="login-form">
		#{include 'helpers/form_validation.html' /}

		#{form @Users.authenticate(), id:'login-form', enctype:'multipart/form-data' }
						
		#{field 'idBooster'}
			<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" placeholder="${field.name}"/>
									
			<input type="submit" class="submit" value="check">
								
				#{if field.error}<span><p class="information_error">${field.error} -</p></span>#{/}
				#{/}
			<a href="#" class="first_connexion">Première connexion ?</a>
		#{/form}
					
							
		<p class="first" style="display:none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
