#{extends 'template/template.html' /}
<div class="profile">
	<div class="row">
		<div class="wrapper">

		</div>
		<div class="wrapper">

		</div>
	</div>
</div>

<h1>Votre Profile</h1>
	<form action="@{Users.modify()}" method="GET">
		<fieldset>
			<label for="idBooster">Id Booster : </label>&nbsp;&nbsp;<input type=text name="idBooster" disabled="disabled" value="${user.idBooster}"><br /><br />
			<label for="lastName">Nom : </label>&nbsp;&nbsp;<input type=text name="lastName" value="${user.lastName}"><br /><br />
			<label for="firstName">Prénom : </label>&nbsp;&nbsp;<input type=text name="firstName"  value="${user.firstName}"><br /><br />
			<label for="promotion">Promotion : </label>&nbsp;&nbsp;
				#{select 'promotion', items:promotionList, value:user.promotion}#{/select}
			<br /><br />
			<label for="campus">Campus : </label>&nbsp;&nbsp;<input type="text" disabled="disabled" value="${user.campus}" name="campus" />
			<br /><br />
			<a class="btn primary large" onClick="window.location = '@{Dashboard.index()}'">Retour</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" class="btn primary large">
		</fieldset>
	</form>
