#{extends 'template/template.html' /}

<div id="sponsor">
	<section class="sponsor-header">
		<h1>Espace partenaires</h1>
	</section>
	<section class="sponsor">
		<center><img src="https://si0.twimg.com/profile_images/1288114317/logo-picto.png" width="150">	</center>
		<div class="intro-partenaires">
			<p>Dans une optique d’ouverture et de partage des connaissances, notre laboratoire accueille régulièrement les acteurs de l’écosystème Java d’aujourd’hui.</p>
			<p>Que ce soit pour délivrer une <b>conférence</b> de manière ponctuelle, animer une <b>série d’ateliers</b>, présenter une <b>technologie</b> ou élaborer <b>un projet</b>, nous désirons laisser la paroles à ceux qui sont au plus proche des technologies.</p>
			<p>Au travers de rencontres de robotiques, notre laboratoire donne la possibilités à vous, professionnels et passionnés, de partager vos expériences, et de transmettre votre passion de manière simple et conviviale.</p>
			<p>Vous êtes une entreprise, une association, un laboratoire ou un passionné de Java ? N’hésitez pas à entrer en contact avec le laboratoire de SUPINFO Paris.</p>
			<center><p>Contacter le laboratoire</p></center>
			<p>Nous remercions les entreprises et associations qui nous ont déjà accordées leur confiance.</p>
		</div>	
		<img src="/public/images/background/footer-section.png">
		<div class="thirteen-columns" id="contentPrimary">
			<center>
			<table>
				<tr>
					<th>
		            <a id="pastouche" href="http://www.supinfo.com/"title="Supinfo" target="_blank">
		              <img alt="Supinfo" src="/public/images/sponsor/téléchargement.jpeg">
		            </a>
		            </th>
		  			<th>
		              <img alt="" src="/public/images/sponsor/Capture d’écran 2012-07-14 à 21.16.16.png">
		            </th>
		            <th>
		            <a id="pastouche" href="http://www.labo-robotique.com/" title="Labo-Robotique" target="_blank">
		              <img alt="Labo-Robotique" src="/public/images/sponsor/Vignette-Laboratoire-Robotique-SUPINFO_light.jpeg">
		            </a>
		            </th>
	 			</tr>
	 			<tr>
		 			<th>
		            <a id="pastouche" href="http://www.jduchess.org/duchess-france/" title="Duchess France" target="_blank">
		              <img alt="Duchess France" src="/public/images/sponsor/logo_duchess_all_in_one_small.png">
		            </a>
		            </th>
		           <th>
		              <img alt="" src="/public/images/sponsor/Capture d’écran 2012-07-14 à 21.16.16.png">
		            </th>
		            <th>
		            <a id="pastouche"  href="http://supinfo.knowledgeblackbelt.com//" title="Knowledge Blackbelt" target="_blank">
		              <img alt="Knowledge Blackbelt" src="/public/images/sponsor/KnowledgeBlackBelt-Logo-Header.png">
		            </a>
		            </th>
		        </tr>
		        <tr>
		 			<th>
		            <a id="pastouche" href="https://github.com/" title="Github" target="_blank">
		              <img alt="Github" src="/public/images/sponsor/github-logo.png">
		            </a>
		            </th>
		            <th>
		              <img alt="" src="/public/images/sponsor/Capture d’écran 2012-07-14 à 21.16.16.png">
		            </th>
		            <th>
		            <a id="pastouche" href="http://www.zenika.com/Zenika/agilite-supinfo.html" title="Zenika" target="_blank">
		              <img alt="Zenika" src="/public/images/sponsor/logo-zenika.jpeg">
		            </a>
		            </th>
		        </tr>
		        <tr>
		 			<th>
		            <a id="pastouche" href="#" title="Human It" target="_blank">
		              <img alt="Github" src="/public/images/sponsor/Human-IT_logo.png">
		            </a>
		            </th>
		            <th>
		              <img alt="" src="/public/images/sponsor/Capture d’écran 2012-07-14 à 21.16.16.png">
		            </th>
		        </tr>
	       </table> 
	       </center>
	     </div>
	     
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_pinterest_pinit"></a>
					<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ffdf5fc47956785"></script>
					<!-- AddThis Button END -->
	</section>
</div>