#{extends 'template/template.html' /}

#{form @Projects.addProject(), method:'POST', enctype:'multipart/form-data'}
	
	#{field 'project.name'}
	<p>
		<label>&{field.name}</label>
		<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" />
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	<br /><br />	
	
	#{field 'project.presentation'}
	<p>
		<label>&{field.name}</label>
		<textarea id="${field.id}" name="${field.name}">${field.value}</textarea>
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	<br /><br />
	
	#{field 'project.technologies'}
	<p>
		<label>&{field.name}</label>
		<textarea id="${field.id}" name="${field.name}">${field.value}</textarea>
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	<br /><br />
	
	#{field 'project.description'}
	<p>
		<label>&{field.name}</label>
		<textarea id="${field.id}" name="${field.name}">${field.value}</textarea>
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	
	<input type="file" value="photo" />
	
	<br /><br />
	
	<input type="submit" value="Ajouter un projet" />
	
#{/form}