#{extends 'template/template.html' /}

<p style="color: #c00">${flash.error}</p>
<p style="color: #c00">${flash.success}</p>

#{form @Projects.previsualise(), method='POST'}
	
	#{field 'project.name'}
	<p>
		<label>&{field.name}</label>
		<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" />
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	<br /><br />
	#{field 'project.presentation'}
	<p>
		<label>&{field.name}</label>
		<textarea id="${field.id}" name="${field.name}">${field.value}</textarea>
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	<br /><br />
	#{field 'project.technologies'}
	<p>
		<label>&{field.name}</label>
		<textarea id="${field.id}" name="${field.name}">${field.value}</textarea>
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	<br /><br />
	#{field 'project.description'}
	<p>
		<label>&{field.name}</label>
		<textarea id="${field.id}" name="${field.name}">${field.value}</textarea>
	</p>
	#{if field.error}<span>${field.error}</span>#{/}
	#{/}
	
	<input type="submit" value="Prévisualiser" />
	
#{form}