#{extends 'template/template.html' /}

<p style="color: #c00">${flash.error}</p>
<p style="color: #c00">${flash.success}</p>

<div class="home">
    <div class="wrapper">
        <div class="menu">
        	<ul id="ul-menu">
        		<li><a href="/" id="button-menu">Acceuil</a></li>
        		<li><a href="#" id="button-menu">Tuto</a></li>
        		<li><a href="#" id="button-menu">Vidéo</a></li>
        		<li><a href="/blog" id="button-menu">Blog</a></li>
        		<li><a href="#" id="button-menu">Téléchargement</a></li>
        		<li><a href="/projets" class="selected" id="button-menu">Projet</a></li>
        	</ul>
        </div>

	 <div class="content">	
	 
		#{if project}
			<h1>Project "${project.name}"</h1>
			
			<h3>Présentation :</h3>
			<p>${project.presentation}</p>
			
			<h3>Technologies :</h3>
			<p>${project.technologies}</p>
			
			<h3>Description :</h3>
			<p>${project.description}</p>
		
		#{/if}
	</div>