#{extends 'template/template.html' /}

<div id="sponsor">
	<section class="sponsor-header">
		<h1>Don Du Sang débarque sur Android</h1>
	</section>
	<section class="sponsor">
		<center><img src="/public/images/projets/dondusang.png" width="150">	</center>
		<div class="intro-partenaires">
		<h2>Fonctionnalités</h2>
			<div style="float:left"><img src="/public/images/projets/Samsumg Galaxy S3 - Don du sang.jpeg" width="300"></div>
			<div style="float:left">
					<br />
					<br />
					<p>-<b>Geoloc</b> : Affichez les centres de don du sang les plus proches de chez vous!</li><p>
					<br />
					<p>-<b>Info</b> : Vous pouvez voir les informations associées à un Centre.</li><p>
					<br />
					<p>-<b>Questionnaire</b> : 10 questions vous permettront d'y voir plus clair sur le Don Du Sang.</li><p>
					<br />
					<p>-<b>Actu</b> : Vous tient au courant des dernières actualités de l'EFS.</li><p>
			</div>
		</div>	
		<img src="/public/images/background/footer-section.png">
		<div class="thirteen-columns" id="contentPrimary">
		<h2>Téléchargement</h2>
			<center>
			<table>
				<tr>
					<th>
		            <p>Téléchargez dès maintenant</p>
		            <p>l'application Don Du Sang sur l'Android Market</p>
		            </th>
		            <th>
		            <a href="https://play.google.com/store/apps/details?id=com.siu.android.dondusang&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS5zaXUuYW5kcm9pZC5kb25kdXNhbmciXQ.." title="Don Du Sang" target="_blank">
		              <img alt="Don Du Sang" src="/public/images/projets/unitag_qrcode.png" width="150">
		            </a>
		            </th>
	 			</tr>
			</table>
			</center>
	     </div>
	     
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_pinterest_pinit"></a>
					<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ffdf5fc47956785"></script>
					<!-- AddThis Button END -->
	</section>
</div>