#{extends 'template/template.html' /}

#{if flash.success}
    <p>${flash.success}</p>
#{/if}
<div id="projet">
	<section class="projet-header">
		<h1>Projet</h1>
	</section>
	<section class="projet">
	#{if user}
		<table cellspacing="25px">
			<tr>
				<th>Nom</th>
				<th>Description détaillée</th>
				<th>S'inscrire au projet</th>
			</tr>
		    #{list items: projects, as: 'project'}
			<tr>    
				<td>${project.name}</td>
				<td>#{a @Projects.details(project.id)}Description#{/a}</td>
				<td>#{a @Projects.susbscribe(project.id)}Inscription#{/a}</td>
			</tr>
		    #{/list}
		</table>
	
		#{if user.isAdmin()}
		<section class="explore">
			<ul>
				<li>#{a @Projects.createProject()}Créer un nouveau projet#{/a}</li>
			</ul>
		</section>
			
		#{/if}		
	 #{/if}
	 #{else}
	    <p>Vous devez être membre du labo pour accéder à cette rubrique.</p>
     #{/else}
     </section>

</div>