#{extends 'template/template.html' /}

#{if flash.success}
    <p>${flash.success}</p>
#{/if}
<div id="projet">
	<section class="projet-header">
		<h1>Projet</h1>
	</section>
	<section class="projet">

	<center>
			<table>
				<tr>
					<th>
		            <a id="pastouche" href="/projets/campus"title="">
		              <img alt="En Cours" src="/public/images/projets/en_cours_realisation.jpeg">
		            </a>
		            </th>
		  			<th>
		              <img alt="" src="/public/images/sponsor/Capture d’écran 2012-07-14 à 21.16.16.png">
		            </th>
		            <th>
		            <a id="pastouche" href="/projets/fini" title="">
		              <img alt="Termine" src="/public/images/projets/termine.png">
		            </a>
		            </th>
	 			</tr>
	       </table> 
	       </center>
		
</div>