#{extends 'template/template.html' /}

<p style="color: #c00">${flash.error}</p>
<p style="color: #c00">${flash.success}</p>
<table>
	<tr>
		<th>ID Booster</th>
		<th>Nom</th>
		<th>Détails</th>
		<th>Validation de la candidature</th>
		<th>Validation</th>
	</tr>
    #{list items: candidates, as: 'candidate'}
	<tr>    
		<td>${candidate.idBooster}</td>
		<td>${candidate.fullName}</td>
		<td>#{a @Users.profile()}Détails #{/a}</td>
		
		#{form @UsersAdmin.validate(candidate.idBooster), method:'POST'}
			<td>#{select 'validation'}
					#{option 'null'}--Choisissez--#{/option}
					#{option 'accept'}Accepter#{/option}
					#{option 'refuse'}Refuser#{/option}
				#{/select}</td>
			<td><input type="submit" value="Valider" /></td>
		#{/form}
	</tr>
    #{/list}
</table>